

    <h2>Hello this is home page of {{name}}</h2>
    
    <img src="/images/ironhack-logo-white.jpg" width="200" alt="ironhack logo">
    <ol>
        {{#if adult }}
         <div>too old</div>

        {{else }}
        <div>You are too young</div>
        {{/if}}
        
        <li>Test</li>
        {{#each hobbies}}
        <li>
             {{name}}
        </li>
        {{/each}}
    </ol>

    <a href="/"> Go Back </a>
